/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar
app/subber.db3
composer.lock
vendor/autoload.php
vendor/braincrafted/
vendor/composer/
vendor/doctrine/
vendor/incenteev/
vendor/jdorn/
vendor/jquery/
vendor/kriswallsmith/
vendor/monolog/
vendor/patbzh/
vendor/psr/
vendor/sensio/
vendor/sensiolabs/
vendor/swiftmailer/
vendor/symfony/
vendor/twbs/
vendor/twig/
vendor/sebastian/
vendor/phpspec/
vendor/phpdocumentor/
web/bundles/
web/css/
web/js/
