default:
    extensions:
        Behat\Symfony2Extension: ~
    suites:
        default:
            contexts:
                - FeatureContext:
                    options:
                        base_url: http://localhost:8000
