default:
    extensions:
        Behat\Symfony2Extension: ~
    suites:
        rest:
            paths: [features/rest]
            contexts:
                - RestContext:
                    options: {base_url: http://localhost:8000}
        scripts:
            paths: [features/scripts]
            contexts:
                - ScriptContext:
                    options: {subber_host: http://localhost:8000}
