# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_sqlite
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_user:     ~
    database_password: ~
    database_path:     "%kernel.root_dir%/subber.db3"

    locale: en

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    betaseries_key: ~

    executable.node.path: /usr/local/bin/node
    executable.node.modules_path: /usr/local/lib/node_modules

    subber.now_playing.connector: ~
    subber.now_playing.plex.uri: "http://localhost:32400"
